<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <% include partials/head.html%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <% include partials/navigation.html%>
    <style>
        body {
            font-family: 'Spicy Rice', cursive;
        }
    </style>

    <div class="container">
        <header class="row">
            <div class=".col-lg-12 text-center">

                <img class="animated bounceIn" src="/img/pews-logo.png" alt="Pews Logo">
            </div>
        </header>
    </div>
    <!--SECTION ONE-->
    <div class="container.fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col.sm-6">

                <h3>The Most Developer Web</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed debitis obcaecati,
                    consequatur, blanditiis ratione porro architecto enim atque iste, deserunt at adipisci culpa cum
                    ipsam!
                    Accusantium ea nostrum velit, eius, accusamus nam delectus nisi
                    pariatur excepturi assumenda optio minus possimus.</p>
            </div>

        </div>

        <&= include partials/footer.html&> 
        
        <!--SECTION TWO-->
</body>

</html>